<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item mx-1" href="/">
      <p>UPC</p>
    </a>
    <a class="navbar-item mx-1" href="/items">
      <p>Items</p>
    </a>
    <a class="navbar-item mx-1" href="/lookup">
      <p>Lookup</p>
    </a>
    <a class="navbar-item mx-1" href="/database">
      <p>Database</p>
    </a>
    <!--<a class="navbar-item mx-1" href="/publish">
      <p>Publish</p>
    </a>-->
  </div>
  <div class="navbar-end">
    <a class="navbar-item mx-1" href="/admin">
      <p>Administration</p>
    </a>
  </div>
</nav>