<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sky's UPC Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/items.css">
    <script src="/js/common.js" async></script>
    <script src="/js/items.js" async></script>
  </head>
  <body>
    <script id="replace_with_navbar" src="/js/nav.js"></script>
    <div class="box m-4">
      <!-- This is the pagination at the top -->
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" id="pagination_previous">Previous</a>
        <a class="pagination-next" id="pagination_next">Next Page</a>
        <ul class="pagination-list" id="pagination_list">
          
        </ul>
      </nav>
      <!-- This is the actual table contents -->
      <h1 id="showing_x_of_y_items_h1" class="title is-4 has-text-centered my-0">Showing {0} of {1} items.</h1>
      <h1 id="page_x_of_y_items_h1" class="title is-6 has-text-centered my-1">Page {0} of {1}.</h1>
      <div class="scroll-horizontal-on-mobile">
        <table class="table is-striped is-bordered mt-0" style="margin: 3em auto;">
          <thead>
            <tr>
              <th>UPC</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>View</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody id="item_table_tbody">
          </tbody>
        </table>
      </div>
    </div>
    <div id="replace_with_footer"></div>
  </body>
</html>