<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sky's UPC Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="/js/common.js" async></script>
  </head>
  <body>
    <script id="replace_with_navbar" src="/js/nav.js"></script>
    <div class="box m-6" style="width:fit-content;">
      <h1 class="title">UPC Edit</h1>
      <div>
        <input class="input" style="width:15ch;" id="upc-input">
        <button class="button is-link" onclick="run_upc(this);" id="upc-submit">Check UPC</button>
      </div>
      <div class="box mt-4" style="width:fit-content;height:fit-content;">
        <h1 class="title is-4">UPC Details:</h1>
        <p id="upc-details-upc" >UPC:  </p>
        <p>Name: </p><input class="input" type="text" id="upc-details-name"></input>
        <p title="aka the '500' of '500ml'">Quantity: </p><input class="input" type="number" id="upc-details-quan"></input>
        <p title="aka the 'ml' of '500ml'">Quantity Unit: </p><input class="input" type="text" id="upc-details-quan-unit"></input>
        <button class="button is-link mt-3" style="width: 100%" onclick="submit(this);">Submit</button>
      </div>
    </div>
    <div style="position:absolute;height:fit-content;bottom:0;width:100%;">
      <div id="replace_with_footer"></div>
    </div>
  </body>
  <script>
    function run_upc(button) {
      // This adds the existing information to the table.
      button.classList.add("is-loading");
      button.setAttribute("disabled", true);
      var upc = document.getElementById("upc-input").value;
      // Now we want to try and get it from the API.
      var URL = "/api/upc/" + upc;

      var request = new XMLHttpRequest();
      request.open("GET", URL);
      request.send();
      request.onload = function() {
        if (request.status == 200) {
          var data = JSON.parse(request.responseText);
          // Now we have 'upc', 'name', 'quantity', and 'quantity_unit' fields.
          document.getElementById("upc-details-upc").innerText = "UPC:  " + data["upc"];
          document.getElementById("upc-details-name").value = data["name"];
          if (data["quantity"]) {
            document.getElementById("upc-details-quan").value = data["quantity"];
            document.getElementById("upc-details-quan-unit").value = data["quantity_unit"];
          } else {
            document.getElementById("upc-details-quan").value = "";
            document.getElementById("upc-details-quan-unit").value = "";
          }
          button.classList.remove("is-loading");
          button.removeAttribute("disabled");
          document.getElementById("upc-input").value = "";
        } else if (request.status == 404) {
          document.getElementById("upc-details-upc").innerText = "UPC:  " + upc;
          button.classList.remove("is-loading");
          button.removeAttribute("disabled");
          document.getElementById("upc-input").value = "";
        } else {
          create_popup("HTTP" + request.status + ": " + request.responseText, true);
          button.classList.remove("is-loading");
          button.removeAttribute("disabled");
          document.getElementById("upc-input").value = "";
        }
      }
    }

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }

    function submit(button) {
      button.classList.add("is-loading");
      button.setAttribute("disabled", true);
      var upc = document.getElementById("upc-details-upc").innerText.substring(5);
      var name = document.getElementById("upc-details-name").value;
      var quantity = document.getElementById("upc-details-quan").value;
      var quantity_unit = document.getElementById("upc-details-quan-unit").value;
      // Now we want to try and get it from the API.
      var URL = "/api/upc/";

      var packet = {
        "upc": upc,
        "name": name,
        "quantity": quantity,
        "quantity_unit": quantity_unit
      }

      var request = new XMLHttpRequest();
      request.open("POST", URL);
      request.send(JSON.stringify(packet));
      request.onload = function() {
        if (request.status == 200) {
          button.classList.remove("is-link");
          button.classList.remove("is-loading");
          button.classList.remove("is-danger");
          button.classList.add("is-success");
          button.removeAttribute("disabled");
          sleep(1000).then(function() {
            button.classList.remove("is-success");
            button.classList.add("is-link");
          });
        } else {
          create_popup("HTTP" + request.status + ": " + request.responseText, true);
          button.classList.remove("is-loading");
          button.classList.remove("is-link");
          button.classList.remove("is-success");
          button.classList.add("is-danger");
          button.removeAttribute("disabled");
          sleep(1000).then(function() {
            button.classList.remove("is-danger");
            button.classList.add("is-link");
          });
        }
      }
    }

    // Make enter press the submit button too
    document.getElementById("upc-input").addEventListener("keypress", function(e) {
      if (e.keyCode == 13) {
        document.getElementById("upc-submit").click();
      }
    })

    if (window.location.hash != "") {
      // Stick the hash into the input box and push the button.
      document.getElementById("upc-input").value = window.location.hash.substring(1);
      document.getElementById("upc-submit").click();
    }
  </script>
</html>